@define-color accent_color #c4a7e7;
@define-color accent_bg_color #31748f;
@define-color accent_fg_color #e0def4;
@define-color destructive_color #ebbcba;
@define-color destructive_bg_color #eb6f92;
@define-color destructive_fg_color #e0def4;
@define-color success_color #9ccfd8;
@define-color success_bg_color #31748f;
@define-color success_fg_color #e0def4;
@define-color warning_color #f6c177;
@define-color warning_bg_color #f6c177;
@define-color warning_fg_color rgba(33, 32, 46, 0.8);
@define-color error_color #ebbcba;
@define-color error_bg_color #ebbcba;
@define-color error_fg_color #e0def4;
@define-color window_bg_color #1f1d2e;
@define-color window_fg_color #e0def4;
@define-color view_bg_color #191724;
@define-color view_fg_color #e0def4;
@define-color headerbar_bg_color #26233a;
@define-color headerbar_fg_color #e0def4;
@define-color headerbar_border_color #e0def4;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(33, 32, 46, 0.4);
@define-color card_bg_color #26233a;
@define-color card_fg_color #e0def4;
@define-color card_shade_color rgba(0, 0, 0, 0.36);
@define-color dialog_bg_color #26233a;
@define-color dialog_fg_color #e0def4;
@define-color popover_bg_color #26233a;
@define-color popover_fg_color #e0def4;
@define-color shade_color #26233a;
@define-color scrollbar_outline_color rgba(33, 32, 46, 0.5);
@define-color blue_1 #3e8fb0;
@define-color blue_2 #3e8fb0;
@define-color blue_3 #31748f;
@define-color blue_4 #31748f;
@define-color blue_5 #286983;
@define-color green_1 #9ccfd8;
@define-color green_2 #9ccfd8;
@define-color green_3 #56949f;
@define-color green_4 #56949f;
@define-color green_5 #3a5f6f;
@define-color yellow_1 #f6c177;
@define-color yellow_2 #f6c177;
@define-color yellow_3 #ea9d34;
@define-color yellow_4 #ea9d34;
@define-color yellow_5 #b3751e;
@define-color orange_1 #ebbcba;
@define-color orange_2 #ea9a97;
@define-color orange_3 #d7827e;
@define-color orange_4 #d7827e;
@define-color orange_5 #CF6863;
@define-color red_1 #eb6f92;
@define-color red_2 #eb6f92;
@define-color red_3 #b4637a;
@define-color red_4 #b4637a;
@define-color red_5 #8f4d5e;
@define-color purple_1 #c4a7e7;
@define-color purple_2 #c4a7e7;
@define-color purple_3 #907aa9;
@define-color purple_4 #907aa9;
@define-color purple_5 #6e5c7a;
@define-color brown_1 #908caa;
@define-color brown_2 #797593;
@define-color brown_3 #797593;
@define-color brown_4 #6e6a86;
@define-color brown_5 #6e6a86;
@define-color light_1 #e0def4;
@define-color light_2 #e0def4;
@define-color light_3 #575279;
@define-color light_4 #575279;
@define-color light_5 #4e4a67;
@define-color dark_1 #1f1d2e;
@define-color dark_2 #2a273f;
@define-color dark_3 #fffaf3;
@define-color dark_4 #fffaf3;
@define-color dark_5 #fffaf3;
decoration {
  box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.7), 0 0 0 1px shade(@headerbar_bg_color,1.3);
}

decoration:backdrop {
  box-shadow: 0 3px 12px 1px transparent, 0 2px 6px 2px rgba(0, 0, 0, 0.4), 0 0 0 1px shade(@headerbar_bg_color,1.1);
}

.tiled decoration, .tiled-top decoration, .tiled-bottom decoration, .tiled-right decoration, .tiled-left decoration {
  box-shadow: 0 0 0 1px shade(@headerbar_bg_color,1.1), 0 0 0 20px transparent;
}

messagedialog.csd decoration, .csd.popup decoration, .maximized .csd.popup decoration {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8), 0 0 0 1px alpha(shade(@headerbar_bg_color,1.3),0.9);
}

.maximized .csd.popup decoration {
  border-radius: 6px;
}

.maximized decoration, .fullscreen decoration {
  border-radius: 0;
  box-shadow: none;
}

.ssd decoration {
  box-shadow: 0 0 0 1px shade(@headerbar_bg_color,1.3);
}

.ssd decoration:backdrop {
  box-shadow: 0 0 0 1px shade(@headerbar_bg_color,1.1);
}

.ssd.maximized decoration, .ssd.maximized decoration:backdrop {
  box-shadow: none;
}

.solid-csd decoration {
  box-shadow: inset 0 0 0 5px alpha(currentColor,0.5), inset 0 0 0 4px @headerbar_bg_color, inset 0 0 0 1px alpha(currentColor,0.5);
}

.solid-csd decoration:backdrop {
  box-shadow: inset 0 0 0 3px @window_bg_color;
}

.titlebar, headerbar {
  border-bottom-color: alpha(currentColor,0.15);
}

.titlebar:backdrop, headerbar:backdrop {
  border-bottom-color: alpha(currentColor,0.2);
}

button.titlebutton,
windowcontrols > button {
  color: transparent;
  min-width: 18px;
  min-height: 18px;
}

button.titlebutton:backdrop {
  opacity: 0.5;
}

windowcontrols > button {
  border-radius: 100%;
  padding: 0;
  margin: 0 5px;
}

windowcontrols > button > image {
  padding: 0;
}

button.titlebutton.close, button.titlebutton.close:hover:backdrop,
windowcontrols > button.close,
windowcontrols > button.close:hover:backdrop {
  background-color: #eb6f92;
}

button.titlebutton.close:hover,
windowcontrols > button.close:hover {
  background-color: shade(#eb6f92,1.3);
}

button.titlebutton.maximize, button.titlebutton.maximize:hover:backdrop,
windowcontrols > button.maximize,
windowcontrols > button.maximize:hover:backdrop {
  background-color: #9ccfd8;
}

button.titlebutton.maximize:hover,
windowcontrols > button.maximize:hover {
  background-color: shade(#9ccfd8,1.3);
}

button.titlebutton.minimize, button.titlebutton.minimize:hover:backdrop,
windowcontrols > button.minimize,
windowcontrols > button.minimize:hover:backdrop {
  background-color: #f6c177;
}

button.titlebutton.minimize:hover,
windowcontrols > button.minimize:hover {
  background-color: shade(#f6c177,1.3);
}

button.titlebutton.close:backdrop, button.titlebutton.maximize:backdrop, button.titlebutton.minimize:backdrop,
windowcontrols > button.close:backdrop,
windowcontrols > button.maximize:backdrop,
windowcontrols > button.minimize:backdrop {
  background-color: #6e6a86;
}

button.titlebutton.close:active, button.titlebutton.maximize:active, button.titlebutton.minimize:active,
windowcontrols > button.close:active,
windowcontrols > button.maximize:active,
windowcontrols > button.minimize:active {
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.3);
}

notebook > header tab:not(:backdrop):checked.reorderable-page,
tabbar tab:not(:backdrop):checked {
  background-color: @headerbar_bg_color;
}

.nautilus-window .sidebar {
  background-color: @view_bg_color;
}

.nautilus-window .sidebar:backdrop {
  background-color: @window_bg_color;
}
